@charset "UTF-8";

/* -------------------
  KIYAKU PAGE
--------------------*/
.line-guide {
	.mgb-30 {
		margin-bottom: 30px !important;
	}
	.mgb-40 {
		margin-bottom: 40px !important;
	}
	a {
		color: #4749F3;
		text-decoration: underline;
		word-break: break-all;
	}
	.fs-14 {
		font-size: fs(14);
	}
	.kiyaku {
    padding: 16px;
		color: #5F6061;
		background-color: #fff;
		&-ttl {
			font-size: fs(20);
			margin-bottom: 20px;
			color: #494A4B;
			font-weight: bold;
		}
		&-date {
			margin-bottom: 10px;
			font-size: fs(14);
			text-align: right;
		}
		&-cnt {
			p {
				margin-bottom: 20px;
			}
		}
		&-subttl {
			margin-bottom: 15px !important;
			font-weight: bold;
		}
		&-list {
			margin-bottom: 30px;
			li {
				margin-bottom: 5px;
				position: relative;
				padding-left: 20px;
				counter-increment: num;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					display: inline-block;
					content: counter(num) ".";
				}
			}
		}

		&-btnWrap {
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
		}
		&-btn {
			width: 48%;
			padding: 15px;
			text-decoration: none;
			text-align: center;
			font-size: fs(15);
			color: #A0A0A0;
			background-color: #D6D6D6;
			&.blue {
				color: #fff;
				background-color: #1E5896;
			}
		}
	}
	&--footer {
		padding: 30px 10px;
		color: inherit;
		color: #5F6061;
		background:#f4f4f4;
		font-size: fs(12);
		text-align: center;
	}
}