@charset "UTF-8";

/* -------------------
  TOP PAGE
--------------------*/
.line-guide {
  color: #1E5896;
  background-color: #E1F6F7;

  .section-ttl {
    padding: 9.3vw 0;
    font-size: 6.67vw;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 4px #CDE6E8;
  }

  .notice {
    margin-top: 2.67vw;
    margin-bottom: 13.33vw;
    padding: 0 7.33vw;
    font-size: 3.2vw;
    background-color: #E1F6F7;
    color: #000;
  }

  .sub-ttl {
    font-size: 4.27vw;
    line-height: 6.27vw;
    font-weight: bold;
  }

  .section {
    &-method {
      padding: 7.3vw 4vw 10.67vw;

      &--step {
        margin-bottom: 4.4vw;
        padding-bottom: 12vw;
        background: url(../images/top/icon-next.svg) bottom center / 5.6vw 4.8vw no-repeat;

        &:last-child {
          padding: 0;
          background: none;
        }

        &-inner {
          display: flex;
        }

        &-label {
          width: 14.7vw;
        }

        &-icon {
          width: 14.4vw;
        }

        &-cnt {
          width: calc(100% - 14.7vw - 14.4vw);
          padding: 0 2.2vw 0 2.6vw;

          span {
            display: inline-block;
            margin-left: 1.3vw;
            font-size: 3.2vw;
            color: #fff;
            font-weight: bold;
            background-color: #28CEC7;
            padding: .13vw 3.67vw;
            border-radius: 40px;
          }

          &.type2 {
            display: flex;
            align-items: center;
          }
        }
      }

      &--btn {
        display: block;
        font-size: 3.47vw;
        font-weight: bold;
        margin-top: 5.6vw;
        padding: 5.5vw 0;
        text-align: center;
        box-shadow: 0px 3px 0px #1E5896;
        border: 2px solid #1E5896;
        border-radius: 8px;
        background: #fff url(../images/top/icon-tag.svg) right 5.3vw center / 3.07vw 2.67vw no-repeat;
      }
    }

    &-id {
      padding: 8.53vw 7.33vw 13.33vw;

      &.type2 {
        padding-bottom: 0;
      }

      &--item {
        margin-bottom: 4vw;
        padding: 6vw 8vw 8vw;
        background-color: #fff;
        border-radius: 5.3vw;
        counter-increment: id;

        &:last-child {
          margin-bottom: 0;
        }

        &.type2 {
          padding: 8vw 6vw;
        }

        &-ttl {
          position: relative;
          padding-left: 9.33vw;
          margin-bottom: 6.27vw;

          &:before {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4.93vw;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            border-radius: 50%;
            color: #fff;
            background-color: #1E5896;
            width: 6.7vw;
            height: 6.7vw;
            content: counter(id);
          }
        }

        &-img {}

        &-des {
          margin-top: 6.67vw;
          font-size: 4.27vw;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    &-faq {
      padding: 9.33vw 4vw 13.33vw;

      &--item {
      	margin-bottom: 2.67vw;
        &-question {
          position: relative;
          font-size: 4.27vw;
          font-weight: bold;
          margin-bottom: 2px;
          padding: 6vw 16vw 5.33vw;
          background-color: #fff;

          &:before {
            position: absolute;
            top: 7vw;
            left: 5.33vw;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6vw;
            color: #fff;
            height: 6.67vw;
            font-size: 4vw;
            font-family: 'Inter', sans-serif;
            background-color: #57C6CB;
            border-radius: 4px;
            content: "Q";
          }

          &:after {
            position: absolute;
            right: 5.3vw;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            display: inline-block;
            width: 5.47vw;
            height: 5.47vw;
            background: url(../images/top/icon-arrow.svg) right center / 100% no-repeat;
            transition: all .25s;
            content: "";
          }

          &.active {
            &:after {
              transform: translateY(-50%) rotate(-180deg);
              -webkit-transform: translateY(-50%) rotate(-180deg);
            }
          }
        }

        &-answer {
          position: relative;
          padding: 6vw 5.33vw 5.33vw 16vw;
          font-size: 3.73vw;
          background-color: #F0F0F0;
          display: none;

          &:before {
            position: absolute;
            top: 7vw;
            left: 5.33vw;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6vw;
            color: #fff;
            height: 6.67vw;
            font-size: 4vw;
            font-family: 'Inter', sans-serif;
            background-color: #EA7CC8;
            border-radius: 4px;
            content: "A";
          }
        }
      }
    }
    &-contact {
    	padding: 8.53vw 7.33vw 15.33vw;
    	text-align: center;
    	&--cnt {
        margin-bottom: 4vw;
        padding: 8vw;
        background-color: #fff;
        border-radius: 5.3vw;
      }
      &--ttl {
  	    display: inline-block;
		    font-size: 4.27vw;
		    color: #1E5896;
		    font-weight: bold;
		    background-color: #D6D6D6;
		    margin-bottom: 3vw;
		    padding: .6vw 4vw;
		    border-radius: 60px;
      }
      &--phone {
      	display: inline-block;
      	margin-bottom: 2vw;
      	font-size: 6.67vw;
      	font-weight: bold;
      	font-family: 'Questrial', sans-serif;
      }
      &--time {
      	font-size: 2.93vw;
      	color: #000;
      }
      &--link {
      	font-size: 2.93vw;
      	color: #000;
      }
    }
  }
}